target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
antlr/
aopalliance/
backport-util-concurrent/
ch/
classworlds/
commons-codec/
commons-io/
io/
javax/
junit/
mysql/
net/
org/
com/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.elasticbeanstalk
/.metadata/
/.recommenders/
